# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
*.Zone.Identifier

# Editors and IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs and temp files
*.log
*.tmp
*.temp

# not ready

docs/zh/integration
docs/en/integration

